html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #363636
}
div {
  border: 0px;
  margin: 0px;
  padding: 0px;
  display:inline;
}
body {
  line-height: 0;
}

iframe {
  border: none;
  display:inline;
  box-sizing: border-box;
  z-index: -1;
}

#coffee-button input[type='submit'] {
  background:url(/images/coffee.png) no-repeat;
  border: none;

  width: 32px;
  height: 32px;
}

#coffee-button {

  position:absolute;
  left: 20px;
  right:0;
  top: 540px;
  bottom:0;

  z-index: 1;

  margin:auto auto auto 0;
}