html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #363636
}
div {
  border: 0px;
  margin: 0px;
  padding: 0px;
  display:inline;
}
body {
  line-height: 0;
}

iframe {
  border: 0px solid #ffffff;
  display:inline;
}
